
{% extends 'base.html' %}
{% load static %}

{% block title %} Build Resume{% endblock %}
{% block css %} 
<link rel="stylesheet" href='{% static "css/resume.css" %}' >
<link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
{% endblock %}
{% block body %} 
{% if request.method == "POST" %}
    <script>
      window.location.href = '/education';
    </script>
{% endif %}
<div class="build">BUILD  YOUR  RESUME</div>
<div class="box container" id="box2">
<div class="heading">
  <h2 class="head">Tell us about yourself</h2>
<form method="POST" action="/heading">{% csrf_token %} 
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstname" placeholder="First Name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="lastname" placeholder="Last Name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Profession</label>
        <input type="text" class="form-control" id="profession" name="profession" placeholder="Doctor, Engineer, ..." required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">State</label>
        <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" required>
      </div>
    </div>
    <button id='b1' type="submit" class="btn btn-primary nextbtn">Next</button>
  </form>
</div>
</div>

{% endblock %}
{% block js %} 

{% endblock %}