
{% extends 'base.html' %}
{% load static %}

{% block title %} Build Resume{% endblock %}
{% block css %} 
<link rel="stylesheet" href='{% static "css/resume.css" %}' >
<link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
{% endblock %}
{% block body %} 
{% if request.method == "POST" %}
    <script>
      window.location.href = '/accomplishment';
    </script>
{% endif %}
<div class="build">BUILD  YOUR  RESUME</div>
<div class="box container" id="box2">
    <div class="skillbox">
        <div class="workquestion">
            How Many work Exprience you wanted <br> to add in your resume ?
        </div>
        <div class="row" id="butt">
          <div class="form-group col-md-2">
              <button type="button" class="btn btn-success" onclick="updateform(1)" id="butt1">1</button>
          </div> 
          <div class="form-group col-md-2">
              <button type="button" class="btn btn-success" onclick="updateform(2)" id="butt2">2</button>
          </div>
          <div class="form-group col-md-2">
              <button type="button" class="btn btn-success" onclick="updateform(3)" id="butt3">3</button>
          </div>
          <div class="form-group col-md-2">
              <button type="button" class="btn btn-success" onclick="updateform(4)" id="butt4">4</button>
          </div>
          <div class="form-group col-md-2">
            <button type="button" class="btn btn-success" onclick="updateform(5)" id="butt5">5</button>
        </div>
        <div class="workquestion" style="color: red;">
            Maximum
        </div>
        </div>
        <div class="row" >
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" onclick="updateform(6)" id="butt6">6</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" onclick="updateform(7)" id="butt7">7</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" onclick="updateform(8)" id="butt8">8</button>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-success" onclick="updateform(9)" id="butt9">9</button>
            </div>
            <div class="form-group col-md-2">
              <button type="button" class="btn btn-success" onclick="updateform(10)" id="butt10">10</button>
          </div>
          <div class="workquestion" style="color: red;">
            10 Skills
        </div>
          </div>
</div>


{% endblock %}
{% block js %} 
<script>
    
    function updateform(n){
        var temp=`<div class="heading">
      <h2 class="head">Tell us about your Skills</h2>
    <form method="POST" action="/skill">{% csrf_token %} `
    for(var i=1;i<=n;i++){
        temp=temp+`<div class="form-row">
            <div class="form-group col-md-3">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Skill ${i}</label>
            <input type="text" class="form-control" id="skill${i}" name="skill${i}" placeholder="Skill" required>
          </div>
        </div>`
    }
    temp=temp+`<button id='b1' type="submit" class="btn btn-primary nextbtn">Next</button>
      </form>
    </div>`
    document.getElementById('box2').innerHTML=temp
    }
</script>
{% endblock %}